/* 
.button {
	-fx-font-size: 20px;
	-fx-outline: none;
	-fx-position: relative;
	-fx-display: inline-block;
	-fx-font-weight: 400;
	-fx-white-space: nowrap;
	-fx-text-align: center;
	-fx-border: 1px solid transparent;
	-fx-cursor: pointer;
	
}
* 
*/