.button {
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 6 6; 
    -fx-border-radius: 5px;
}

.button:hover {
    -fx-background-color: #FFAB91; 
}

.button:pressed {
    -fx-background-color: #FFAB91; 
}